.text p {
    color: aqua;
}

div.lesson{
    color: blanchedalmond;
    background-color: black;
}

.li1{
    color: green;
}

li.li2{
    color: yellow;
    background-color: brown;
}

li{
    color: brown;
}

.page,
.rage {
    color: blue;
}

.text a {
    color: red;
}

.lesson a {
    color: yellowgreen;
}

.page a {
    color: purple;
}
