@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: rgb(172, 164, 164);
}

.BlueText{
    color: blue;
    font-size: 20px;
    font-weight: 500;
}

.BigText {
    font-size: 30px;
    color: black;
    font-weight: 600;
}